body{
    background-color: #1D0C44 ;
    color: white
}

footer{
    margin-top: 10vh;
}
.footer-section {
    padding: 20px;
    background-color: #2c2c54;
    color: white;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;}